@import url(http://chuckskoda.com/normalize.css);

body
{
	margin: 0 auto;
	padding: 0;
	color: #210;
	background: #f4efe4;
	/*background: #ffd;*/
	/*background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffb), color-stop(0.3, #ffd), color-stop(0.7, #ffd), color-stop(1, #ffb));*/
	/*background: -moz-linear-gradient(left center, #ffb 0%, #ffd 30%, #ffd 70%, #ffb 100%);*/
	font-family: Palatino, georgia, serif;
	font-size: 22px;
	text-shadow: 0px 1px 1px white;
	text-rendering: optimizeLegibility;
	/*-moz-font-feature-settings: "liga=1, dlig=1";
	-ms-font-feature-settings: "liga", "dlig";
	-webkit-font-feature-settings: "liga", "dlig";
	-o-font-feature-settings: "liga", "dlig";
	font-feature-settings: "liga", "dlig";*/
}

::-moz-selection
{
	background-color:#cca;
	color:#321;
}

::selection
{
	background-color:#cca;
	color:#321;
}

blockquote
{
	font-style: italic;
	margin: 1em 40px;
}

ul { list-style: square; }

img
{
	margin: 0;
	padding: 10px;
	border: 0;
}

a,
a:visited
{
	background-color: transparent;
	text-decoration: none;
	text-shadow: none;
	color: #b10;
}

a:hover
{
	background-color: #210;
	text-decoration: none;
	color: #fff;
}

h1>a,
h1>a:visited,
h1>a:hover
{
	display: block;
	text-align: left;
	font-family: Avenir Next, Avenir, Verdana, sans-serif;
	font-weight: 600;
	text-shadow: 0px 2px 2px white;
	color: #210;
/*	text-indent: -999999px;
	width: 272px;
	overflow: hidden;
	background-color: transparent;
	background-image: url(http://chuckskoda.com/images/titleShadow544px.png);
	background-size: 100%;
	background-repeat: no-repeat; */
}

h2
{
	font-weight: bold;
	font-size: 26px;
	background: transparent;
	line-height: 1.4;
}

h2 a,
h2 a:hover,
h2 a:visited
{
	color: #210;
	background: transparent;
	text-shadow: 0px 1px 1px white;
}

#wrapper
{
	margin: 80px auto 0 auto;
	padding-bottom: 10px;
	width: 720px;
}

#header { height: 50px; }

#blogtitle,
#blogtitle img
{
	padding: 0;
	margin: 0;
	float: left;
}

#navigation
{
	padding-top: 3px;
	margin: 0;
}

#navigation a
{
	float: right;
	text-decoration: none;
	opacity:0.6;
	display: block;
	margin: 18px 0 0 15px;
	width: 24px;
	height: 24px;
	text-align: left;
	text-indent: -999999px;
	overflow: hidden;
	background-color: transparent;
	background-size: 100%;
	background-repeat: no-repeat;
	color: #b10;
}

#navigation a:hover
{
	background-color: transparent;
	text-decoration: none;
	opacity:1.0;
	
}

#navigation img
{
	width: 24px;
	height: 24px;
}

#about a { background-image: url(http://chuckskoda.com/images/about.png); }

#archive a { background-image: url(http://chuckskoda.com/images/archive.png); }

#twitter a { background-image: url(http://chuckskoda.com/images/twitter.png); }

#feed a { background-image: url(http://chuckskoda.com/images/feed.png); }

#content
{
	float: left;
	margin: 30px 0 10px 0;
	line-height: 1.7;
	width: 100%;
}

#blog
{
	float: left;
	width: 100%;
	text-align: left;
}

#popposts
{
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}

#montharchive
{
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
}

#search input { width: 100%; }

#footer
{
	margin: 25px, 0px;
	letter-spacing: 0.09em;
	font-size: 12px;
}

.nohover a:hover
{
	background-color: transparent;
	text-decoration: none;
}

.permalink { font-size: 9px; }

.postimg
{
	width: 540px;
	padding: 20px 0px;
}

.flickrimg
{
	width: 540px;
	padding: 0px 0px 10px 0px;
}

.flickr
{
	width: 540px;
	margin: 0;
	padding: 35px 0 0 0;
	border: 0;
}

.adn-verification { display: none; }

.center { text-align: center; }

.floatright { float: right; }

.floatleft { float: left; }

.spacer { clear: both; }

.entry
{
	margin-top: 85px;
	margin-bottom: 155px;
	width: 100%;
	clear: both;
}

.entry p
{
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.comment
{
	width: 80%;
	background: #eed;
	margin: 10px auto;
	padding: 10px 20px;
	font-size: 15px;
	border: 1px solid #ddb;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.comment p
{
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.posted
{
	margin-bottom: 10px;
	text-align: right;
	background: transparent;
	clear: both;
	color: #665;
	font-size: 14px;
}

@media only screen and (max-device-width: 480px) {
	body { font-size: 17px; }

	h2 { font-size: 22px; }

	img { max-width:100%; }

	blockquote { margin: 1em 15px; }

	#navigation a
	{
		padding: 0;
		margin: 0;
		text-indent: 0;
		text-align: center;
		background-image: none;
		width: 70px;
		height: auto;
	}

	#wrapper
	{
		margin: 30px auto 0 auto;
		padding-bottom: 10px;
		width: 87.5%;
	}

	#header
	{
		margin: 0 auto;
		width: 280px;
	}

	#header>h1 { font-size: 36px; }

	#footer { font-size: 10px; }

	#popposts
	{
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}

	#montharchive
	{
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}

	.entry
	{
		margin-top: 25px;
		margin-bottom: 100px;
	}
}